* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font: 400 28px/38px "Roboto", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  padding-left: 0px;
}

li {
  padding-left: 0px;
  list-style: none;
}

.section {
  padding-top: 75px;
  padding-bottom: 75px;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}


.header {
  padding-top: 95px;
  padding-bottom: 95px;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.logo-container {
  margin-left: 0;
  margin-right: 0;
  color: crimson;
}

.logo {
  font-size: 2rem;
  line-height: 2rem;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 750px;
  height: 2rem;
}

.nav-item {
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
}
.nav-item:hover {
  background-color: crimson;
}


.bisque-color {
  background-color: bisque;
}

.crimson-text {
  color: crimson;
}

.title {
  padding-bottom: 50px;
  font-size: 2rem;
  line-height: 2rem;
  text-transform: uppercase;
}

#about {
  padding-top: 120px;
  padding-bottom: 200px;
}

#about .container {
  display: flex;
}

#about .title {
  font-size: 4rem;
  line-height: 4rem;
}

form {
  width: 500px;
  padding: 40px;
  background-color: crimson;
  border-radius: 10px;
}

.form-title {
  display: block;
  width: 500px;
  padding-bottom: 45px;
  text-align: center;
  text-transform: uppercase;
}

li input, textarea {
  width: 470px;
  height: 75px;
  padding-left: 25px;
  margin-bottom: 25px;
  font-size: 1rem;
  line-height: 1rem;
  border: 1px solid white;
  border-radius: 10px;
}

.checkbox-container {
  padding-top: 25px;
  padding-bottom: 25px;
}

.form-button {
  width: 100%;
  height: 75px;
  font-size: 1rem;
  line-height: 1rem;
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  text-transform: uppercase;
}
.form-button:hover {
  cursor: pointer;
}

.services-list {
  display: flex;
  justify-content: space-between;
}

.service-item {
  position: relative; 
  width: 300px;
  height: 400px;
}

.service-item p {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#first {
  background-image: url("./assets/img1.png");
  background-size: 300px;
  background-repeat: no-repeat;
}
#second {
  background-image: url("./assets/img2.png");
  background-size: 300px;
  background-repeat: no-repeat;
}
#third {
  background-image: url("./assets/img3.png");
  background-size: 300px;
  background-repeat: no-repeat;
}
#fourth {
  background-image: url("./assets/img4.png");
  background-size: 300px;
  background-repeat: no-repeat;
}

#story {
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  background-color: crimson;
}

#story .container {
  display: flex;
  gap: 50px;
}

.story-button {
  display: block;
  text-align: center;
  width: 600px;
  height: 75px;
  background-color: bisque;
  border-radius: 10px;
  line-height: 75px;
}

#pricing .title {
  text-align: center;
}

.cards-container {
  display: flex;
  justify-content: space-between;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  padding-top: 30px;
  color: black;
  text-align: center;
  background-color: white;
  border-radius: 10px;
}

.price {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: crimson;
  text-transform: uppercase;
}

.card-button {
  position: absolute;
  left: 100px;
  bottom: 40px;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font: 300 22px/28px "", sans-serif;
  background-color: bisque;
  border: none;
  border-radius: 10px;
}
.card-button:hover {
  background-color: crimson;
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex: 1 1;
  justify-content: space-between;
  gap: 50px;
}

#testimonial .title {
  text-align: center;
}

.text-block {
  padding-bottom: 25px;
}

.block-with-background {
  padding: 25px;
  border-radius: 10px;
}

#testimonial p {
  padding-bottom: 10px;
}

#gallery .title {
  text-align: center;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
}

.image {
  width: 320px;
  height: auto;
}

address {
  font-style: normal;
  line-height: 2rem;
}

address a {
  color: crimson;
}


.footer {
  padding-top: 95px;
  padding-bottom: 95px;
  color: white;
  background-color: black;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  line-height: 2rem;
}

.required-form-field::after {
  content: '*';
  position: relative;
  left: 5px;
  color: rgba(0, 0, 0, 0.5);
}