* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #c0c0c0;
}

.calculator {
    width: 420px;
    margin: 70px auto;
    padding: 20px;
    background-color: #0f0f0f;
    border: 1px solid black;
}

.output-window {
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
    font-size: 32px;
    text-align: right;
    background-color: #dcdcdc;
    border: 1px solid black;
}

.buttons-row {
    width: 100%;
    display: flex;
    margin-top: 4px;
    column-gap: 4px;
}

.first-buttons-row {
    margin-bottom: 10px;
}

.button {
    flex: 1;
    height: 56px;
    font-size: 32px;
    text-align: center;
    align-items: center;
    color: black;
    background-color: #dcdcdc;
    border: 1px solid black;
}
.button:hover {
    background-color: #c0c0c0;
}

.reset-input {
    position: relative;
    left: calc(422px - 25%);
    width: calc(25% - 2px);
}

.equal {
    background: #778899;
}
.equal:hover {
    background-color: #5d6d7c;
}
