table {
    margin: 20px auto;
    font-size: 28px;
    line-height: 38px;
}

.title, .td {
    width: 180px;
    padding: 15px;
    border: 1px solid black;
    text-align: center;
    background-color: bisque;
}

ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 20px auto;
}

li {
    margin: 10px;
    list-style: none;
}

.button {
    width: 200px;
    height: 50px;
    font-size: 22px;
    background-color: bisque;
    border: 1px solid black;
    border-radius: 10px;
}

.hide {
    display: none;
}

.textarea {
    width: 180px;
    padding: 15px;
    margin: 20px auto;
    font-size: 28px;
    text-align: center;
}

.selected {
    box-shadow: inset 0 0 2px 2px black;
}
